*,
.row,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.row.\30 \25>*,
.row.uniform.\30 \25>* {
    padding: 0
}

a:hover,
a:hover strong {
    color: #ed786a
}

#nav>ul>li>a,
.icon,
a {
    text-decoration: none
}

@font-face {
    font-family: Arvo;
    font-style: normal;
    font-weight: 700;
    src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v9/F-uvpIj1hF17IDyvQvI50Q.ttf) format('truetype')
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf) format('truetype')
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf) format('truetype')
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf) format('truetype')
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

body,
input,
select,
textarea {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    color: #777
}

#mensagemTextArea {
    display: block;
    resize: none;
    max-height: 200px;
}

sub,
sup {
    font-size: .8em;
    position: relative
}

blockquote,
em,
i {
    font-style: italic
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    background: #f0f0f0
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*,
:after,
:before {
    box-sizing: border-box
}

.container.\31 25\25 {
    width: 100%;
    max-width: 1200px;
    min-width: 960px
}

.container.\37 5\25 {
    width: 720px
}

.container.\35 0\25 {
    width: 480px
}

.container.\32 5\25 {
    width: 240px
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px
}

.professor {
    min-height: 425px;
}

.professorTeste {
    min-height: 375px;
}


/* -------------------------------- 

xpopup 

-------------------------------- */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #000;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-container p {
    padding: 3em 1em;
}

.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-popup-container .cd-buttons li:first-child a {
    background: #fc7169;
    border-radius: 0 0 0 .25em;
}

.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}

@media screen and (min-width:737px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 1500px;
        min-width: 1200px
    }
    .container.\37 5\25 {
        width: 900px
    }
    .container.\35 0\25 {
        width: 600px
    }
    .container.\32 5\25 {
        width: 300px
    }
    .container {
        width: 1200px
    }
}

.loginform {
    width: 100%;
}

@media screen and (min-width:737px) and (max-width:1200px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 1200px;
        min-width: 960px
    }
    .container.\37 5\25 {
        width: 720px
    }
    .container.\35 0\25 {
        width: 480px
    }
    .container.\32 5\25 {
        width: 240px
    }
    .container {
        width: 960px
    }
}

@media screen and (max-width:736px) {
    .container.\31 25\25 {
        width: 100%;
        max-width: 125%;
        min-width: 100%
    }
    .container.\37 5\25 {
        width: 75%
    }
    .container.\35 0\25 {
        width: 50%
    }
    .container.\32 5\25 {
        width: 25%
    }
    .container {
        width: 100%!important
    }
}

.row {
    border-bottom: solid 1px transparent;
    box-sizing: border-box
}

.row:after,
.row:before {
    content: '';
    display: block;
    clear: both;
    height: 0
}

.row.uniform>*>:first-child {
    margin-top: 0
}

.row.uniform>*>:last-child {
    margin-bottom: 0
}

.row.\30 \25,
.row.uniform.\30 \25 {
    margin: 0 0 -1px
}

.row>* {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 40px
}

.row {
    margin: 0 0 -1px -40px
}

.row.uniform>* {
    padding: 40px 0 0 40px
}

.row.uniform {
    margin: -40px 0 -1px -40px
}

.row.\32 00\25>* {
    padding: 0 0 0 80px
}

.row.\32 00\25 {
    margin: 0 0 -1px -80px
}

.row.uniform.\32 00\25>* {
    padding: 80px 0 0 80px
}

.row.uniform.\32 00\25 {
    margin: -80px 0 -1px -80px
}

.row.\31 50\25>* {
    padding: 0 0 0 60px
}

.row.\31 50\25 {
    margin: 0 0 -1px -60px
}

.row.uniform.\31 50\25>* {
    padding: 60px 0 0 60px
}

.row.uniform.\31 50\25 {
    margin: -60px 0 -1px -60px
}

.row.\35 0\25>* {
    padding: 0 0 0 20px
}

.row.\35 0\25 {
    margin: 0 0 -1px -20px
}

.row.uniform.\35 0\25>* {
    padding: 20px 0 0 20px
}

.row.uniform.\35 0\25 {
    margin: -20px 0 -1px -20px
}

.row.\32 5\25>* {
    padding: 0 0 0 10px
}

.row.\32 5\25 {
    margin: 0 0 -1px -10px
}

.row.uniform.\32 5\25>* {
    padding: 10px 0 0 10px
}

.row.uniform.\32 5\25 {
    margin: -10px 0 -1px -10px
}

.\31 0u,
.\31 0u\24,
.\31 1u,
.\31 1u\24,
.\31 2u,
.\31 2u\24,
.\31 u,
.\31 u\24,
.\32 u,
.\32 u\24,
.\33 u,
.\33 u\24,
.\34 u,
.\34 u\24,
.\35 u,
.\35 u\24,
.\36 u,
.\36 u\24,
.\38 u,
.\38 u\24,
.\39 u,
.\39 u\24 {
    clear: none;
    margin-left: 0
}

.\31 2u,
.\31 2u\24 {
    width: 100%
}

.\31 1u,
.\31 1u\24 {
    width: 91.6666666667%
}

.\31 0u,
.\31 0u\24 {
    width: 83.3333333333%
}

.\39 u,
.\39 u\24 {
    width: 75%
}

.\38 u,
.\38 u\24 {
    width: 66.6666666667%
}

.\37 u,
.\37 u\24 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0
}

.\36 u,
.\36 u\24 {
    width: 50%
}

.\35 u,
.\35 u\24 {
    width: 41.6666666667%
}

.\34 u,
.\34 u\24 {
    width: 33.3333333333%
}

.\33 u,
.\33 u\24 {
    width: 25%
}

.\32 u,
.\32 u\24 {
    width: 16.6666666667%
}

.\31 u,
.\31 u\24 {
    width: 8.3333333333%
}

.\31 0u\24+*,
.\31 1u\24+*,
.\31 2u\24+*,
.\31 u\24+*,
.\32 u\24+*,
.\33 u\24+*,
.\34 u\24+*,
.\35 u\24+*,
.\36 u\24+*,
.\37 u\24+*,
.\38 u\24+*,
.\39 u\24+* {
    clear: left
}

.\-11u {
    margin-left: 91.66667%
}

.\-10u {
    margin-left: 83.33333%
}

.\-9u {
    margin-left: 75%
}

.\-8u {
    margin-left: 66.66667%
}

.\-7u {
    margin-left: 58.33333%
}

.\-6u {
    margin-left: 50%
}

.\-5u {
    margin-left: 41.66667%
}

.\-4u {
    margin-left: 33.33333%
}

.\-3u {
    margin-left: 25%
}

.\-2u {
    margin-left: 16.66667%
}

.\-1u {
    margin-left: 8.33333%
}

@media screen and (min-width:737px) {
    .row.uniform>*,
    .row>* {
        padding: 50px 0 0 50px
    }
    .row,
    .row.uniform {
        margin: -50px 0 -1px -50px
    }
    .row.\32 00\25>*,
    .row.uniform.\32 00\25>* {
        padding: 100px 0 0 100px
    }
    .row.\32 00\25,
    .row.uniform.\32 00\25 {
        margin: -100px 0 -1px -100px
    }
    .row.\31 50\25>*,
    .row.uniform.\31 50\25>* {
        padding: 75px 0 0 75px
    }
    .row.\31 50\25,
    .row.uniform.\31 50\25 {
        margin: -75px 0 -1px -75px
    }
    .row.\35 0\25>*,
    .row.uniform.\35 0\25>* {
        padding: 25px 0 0 25px
    }
    .row.\35 0\25,
    .row.uniform.\35 0\25 {
        margin: -25px 0 -1px -25px
    }
    .row.\32 5\25>*,
    .row.uniform.\32 5\25>* {
        padding: 12.5px 0 0 12.5px
    }
    .row.\32 5\25,
    .row.uniform.\32 5\25 {
        margin: -12.5px 0 -1px -12.5px
    }
    .\31 2u\24\28desktop\29,
    .\31 2u\28desktop\29 {
        width: 100%;
        clear: none;
        margin-left: 0
    }
    .\31 1u\24\28desktop\29,
    .\31 1u\28desktop\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\31 0u\24\28desktop\29,
    .\31 0u\28desktop\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\39 u\24\28desktop\29,
    .\39 u\28desktop\29 {
        width: 75%;
        clear: none;
        margin-left: 0
    }
    .\38 u\24\28desktop\29,
    .\38 u\28desktop\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\37 u\24\28desktop\29,
    .\37 u\28desktop\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\36 u\24\28desktop\29,
    .\36 u\28desktop\29 {
        width: 50%;
        clear: none;
        margin-left: 0
    }
    .\35 u\24\28desktop\29,
    .\35 u\28desktop\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\34 u\24\28desktop\29,
    .\34 u\28desktop\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\33 u\24\28desktop\29,
    .\33 u\28desktop\29 {
        width: 25%;
        clear: none;
        margin-left: 0
    }
    .\32 u\24\28desktop\29,
    .\32 u\28desktop\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\31 u\24\28desktop\29,
    .\31 u\28desktop\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\31 0u\24\28desktop\29+*,
    .\31 1u\24\28desktop\29+*,
    .\31 2u\24\28desktop\29+*,
    .\31 u\24\28desktop\29+*,
    .\32 u\24\28desktop\29+*,
    .\33 u\24\28desktop\29+*,
    .\34 u\24\28desktop\29+*,
    .\35 u\24\28desktop\29+*,
    .\36 u\24\28desktop\29+*,
    .\37 u\24\28desktop\29+*,
    .\38 u\24\28desktop\29+*,
    .\39 u\24\28desktop\29+* {
        clear: left
    }
    .\-11u\28desktop\29 {
        margin-left: 91.66667%
    }
    .\-10u\28desktop\29 {
        margin-left: 83.33333%
    }
    .\-9u\28desktop\29 {
        margin-left: 75%
    }
    .\-8u\28desktop\29 {
        margin-left: 66.66667%
    }
    .\-7u\28desktop\29 {
        margin-left: 58.33333%
    }
    .\-6u\28desktop\29 {
        margin-left: 50%
    }
    .\-5u\28desktop\29 {
        margin-left: 41.66667%
    }
    .\-4u\28desktop\29 {
        margin-left: 33.33333%
    }
    .\-3u\28desktop\29 {
        margin-left: 25%
    }
    .\-2u\28desktop\29 {
        margin-left: 16.66667%
    }
    .\-1u\28desktop\29 {
        margin-left: 8.33333%
    }
}

@media screen and (min-width:737px) and (max-width:1200px) {
    .row.uniform>*,
    .row>* {
        padding: 30px 0 0 30px
    }
    .row,
    .row.uniform {
        margin: -30px 0 -1px -30px
    }
    .row.\32 00\25>*,
    .row.uniform.\32 00\25>* {
        padding: 60px 0 0 60px
    }
    .row.\32 00\25,
    .row.uniform.\32 00\25 {
        margin: -60px 0 -1px -60px
    }
    .row.\31 50\25>*,
    .row.uniform.\31 50\25>* {
        padding: 45px 0 0 45px
    }
    .row.\31 50\25,
    .row.uniform.\31 50\25 {
        margin: -45px 0 -1px -45px
    }
    .row.\35 0\25>*,
    .row.uniform.\35 0\25>* {
        padding: 15px 0 0 15px
    }
    .row.\35 0\25,
    .row.uniform.\35 0\25 {
        margin: -15px 0 -1px -15px
    }
    .row.\32 5\25>*,
    .row.uniform.\32 5\25>* {
        padding: 7.5px 0 0 7.5px
    }
    .row.\32 5\25,
    .row.uniform.\32 5\25 {
        margin: -7.5px 0 -1px -7.5px
    }
    .\31 2u\24\28tablet\29,
    .\31 2u\28tablet\29 {
        width: 100%;
        clear: none;
        margin-left: 0
    }
    .\31 1u\24\28tablet\29,
    .\31 1u\28tablet\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\31 0u\24\28tablet\29,
    .\31 0u\28tablet\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\39 u\24\28tablet\29,
    .\39 u\28tablet\29 {
        width: 75%;
        clear: none;
        margin-left: 0
    }
    .\38 u\24\28tablet\29,
    .\38 u\28tablet\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\37 u\24\28tablet\29,
    .\37 u\28tablet\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\36 u\24\28tablet\29,
    .\36 u\28tablet\29 {
        width: 50%;
        clear: none;
        margin-left: 0
    }
    .\35 u\24\28tablet\29,
    .\35 u\28tablet\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\34 u\24\28tablet\29,
    .\34 u\28tablet\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\33 u\24\28tablet\29,
    .\33 u\28tablet\29 {
        width: 25%;
        clear: none;
        margin-left: 0
    }
    .\32 u\24\28tablet\29,
    .\32 u\28tablet\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\31 u\24\28tablet\29,
    .\31 u\28tablet\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\31 0u\24\28tablet\29+*,
    .\31 1u\24\28tablet\29+*,
    .\31 2u\24\28tablet\29+*,
    .\31 u\24\28tablet\29+*,
    .\32 u\24\28tablet\29+*,
    .\33 u\24\28tablet\29+*,
    .\34 u\24\28tablet\29+*,
    .\35 u\24\28tablet\29+*,
    .\36 u\24\28tablet\29+*,
    .\37 u\24\28tablet\29+*,
    .\38 u\24\28tablet\29+*,
    .\39 u\24\28tablet\29+* {
        clear: left
    }
    .\-11u\28tablet\29 {
        margin-left: 91.66667%
    }
    .\-10u\28tablet\29 {
        margin-left: 83.33333%
    }
    .\-9u\28tablet\29 {
        margin-left: 75%
    }
    .\-8u\28tablet\29 {
        margin-left: 66.66667%
    }
    .\-7u\28tablet\29 {
        margin-left: 58.33333%
    }
    .\-6u\28tablet\29 {
        margin-left: 50%
    }
    .\-5u\28tablet\29 {
        margin-left: 41.66667%
    }
    .\-4u\28tablet\29 {
        margin-left: 33.33333%
    }
    .\-3u\28tablet\29 {
        margin-left: 25%
    }
    .\-2u\28tablet\29 {
        margin-left: 16.66667%
    }
    .\-1u\28tablet\29 {
        margin-left: 8.33333%
    }
}

@media screen and (max-width:736px) {
    .row.uniform>*,
    .row>* {
        padding: 20px 0 0 20px
    }
    .row,
    .row.uniform {
        margin: -20px 0 -1px -20px
    }
    .row.\32 00\25>*,
    .row.uniform.\32 00\25>* {
        padding: 40px 0 0 40px
    }
    .row.\32 00\25,
    .row.uniform.\32 00\25 {
        margin: -40px 0 -1px -40px
    }
    .row.\31 50\25>*,
    .row.uniform.\31 50\25>* {
        padding: 30px 0 0 30px
    }
    .row.\31 50\25,
    .row.uniform.\31 50\25 {
        margin: -30px 0 -1px -30px
    }
    .row.\35 0\25>*,
    .row.uniform.\35 0\25>* {
        padding: 10px 0 0 10px
    }
    .row.\35 0\25,
    .row.uniform.\35 0\25 {
        margin: -10px 0 -1px -10px
    }
    .row.\32 5\25>*,
    .row.uniform.\32 5\25>* {
        padding: 5px 0 0 5px
    }
    .row.\32 5\25,
    .row.uniform.\32 5\25 {
        margin: -5px 0 -1px -5px
    }
    .\31 2u\24\28mobile\29,
    .\31 2u\28mobile\29 {
        width: 100%;
        clear: none;
        margin-left: 0
    }
    .\31 1u\24\28mobile\29,
    .\31 1u\28mobile\29 {
        width: 91.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\31 0u\24\28mobile\29,
    .\31 0u\28mobile\29 {
        width: 83.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\39 u\24\28mobile\29,
    .\39 u\28mobile\29 {
        width: 75%;
        clear: none;
        margin-left: 0
    }
    .\38 u\24\28mobile\29,
    .\38 u\28mobile\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\37 u\24\28mobile\29,
    .\37 u\28mobile\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\36 u\24\28mobile\29,
    .\36 u\28mobile\29 {
        width: 50%;
        clear: none;
        margin-left: 0
    }
    .\35 u\24\28mobile\29,
    .\35 u\28mobile\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\34 u\24\28mobile\29,
    .\34 u\28mobile\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\33 u\24\28mobile\29,
    .\33 u\28mobile\29 {
        width: 25%;
        clear: none;
        margin-left: 0
    }
    .\32 u\24\28mobile\29,
    .\32 u\28mobile\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0
    }
    .\31 u\24\28mobile\29,
    .\31 u\28mobile\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0
    }
    .\31 0u\24\28mobile\29+*,
    .\31 1u\24\28mobile\29+*,
    .\31 2u\24\28mobile\29+*,
    .\31 u\24\28mobile\29+*,
    .\32 u\24\28mobile\29+*,
    .\33 u\24\28mobile\29+*,
    .\34 u\24\28mobile\29+*,
    .\35 u\24\28mobile\29+*,
    .\36 u\24\28mobile\29+*,
    .\37 u\24\28mobile\29+*,
    .\38 u\24\28mobile\29+*,
    .\39 u\24\28mobile\29+* {
        clear: left
    }
    .\-11u\28mobile\29 {
        margin-left: 91.66667%
    }
    .\-10u\28mobile\29 {
        margin-left: 83.33333%
    }
    .\-9u\28mobile\29 {
        margin-left: 75%
    }
    .\-8u\28mobile\29 {
        margin-left: 66.66667%
    }
    .\-7u\28mobile\29 {
        margin-left: 58.33333%
    }
    .\-6u\28mobile\29 {
        margin-left: 50%
    }
    .\-5u\28mobile\29 {
        margin-left: 41.66667%
    }
    .\-4u\28mobile\29 {
        margin-left: 33.33333%
    }
    .\-3u\28mobile\29 {
        margin-left: 25%
    }
    .\-2u\28mobile\29 {
        margin-left: 16.66667%
    }
    .\-1u\28mobile\29 {
        margin-left: 8.33333%
    }
}

blockquote,
dl,
ol,
p,
table,
ul {
    margin-bottom: 2em
}

br.clear,
ul.actions {
    clear: both
}

body.is-loading * {
    -moz-transition: none!important;
    -webkit-transition: none!important;
    -ms-transition: none!important;
    transition: none!important;
    -moz-animation: none!important;
    -webkit-animation: none!important;
    -ms-animation: none!important;
    animation: none!important
}

b,
form label,
strong {
    font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    text-transform: uppercase;
    color: #888
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
    border: 0
}

a {
    -moz-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
    transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
    color: #666;
    border-bottom: solid 1px #ddd
}

a strong {
    -moz-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
    transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out
}

a:hover {
    border-bottom-color: rgba(255, 255, 255, 0)
}

sub {
    top: .5em
}

sup {
    top: -.5em
}

hr {
    border: 0;
    border-top: solid 3px #000
}

blockquote {
    border-left: solid .5em #ddd;
    padding: 1em 0 1em 2em
}

p {
    text-align: justify
}

article,
section {
    margin-bottom: 3em
}

article:last-child,
article>:last-child,
section:last-child,
section>:last-child {
    margin-bottom: 0
}

.image {
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    display: inline-block;
    border: 6px solid #000!important
}

.whiteborder .image {
    border: 6px solid #FFF!important
}

.image:hover {
    opacity: .9
}

.image img,
.image.fit {
    display: block;
    width: 100%
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 3.5em
}

.image.left {
    float: left;
    margin: 0 1.5em 1.5em 0;
    position: relative;
    top: .5em
}

.image.centered {
    display: block;
    margin: 0 0 2em
}

.image.centered img {
    margin: 0 auto;
    width: auto
}

ul.default {
    list-style: disc;
    margin-left: 1em
}

ul.default li {
    padding-left: .5em;
    margin: .75em 0
}

ul.default li:first-child {
    margin-top: 0
}

ul.links {
    list-style: decimal;
    margin-left: 1em
}

ul.links li {
    display: inline;
    border-left: solid 1px #d0d0d0;
    padding-left: 1em;
    margin-left: 1em
}

ul.links li:first-child {
    margin-left: 0;
    padding-left: 0
}

ul.actions {
    margin-top: 2.5em
}

ul.divided li {
    border-top: solid 2px #000
}

ul.divided li:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0
}

ul.icons>li {
    position: relative;
    padding: 2em 0 0 3em
}

ul.icons>li:before {
    position: absolute;
    left: 0;
    top: 2em;
    display: block;
    background: #878787;
    color: #e4e4e4;
    width: 1.65em;
    height: 1.65em;
    border-radius: 1.65em;
    line-height: 1.65em;
    text-align: center;
    box-shadow: .125em .175em 0 0 rgba(0, 0, 0, .125)
}

ul.icons>li:first-child {
    padding-top: 0
}

ul.icons>li:first-child:before {
    top: 0
}

ol.default {
    list-style: decimal;
    margin-left: 1em
}

ol.default li {
    padding-left: .5em;
    margin: .75em 0
}

table.default td,
table.default th {
    padding: .75em 1em
}

ol.default li:first-child {
    margin-top: 0
}

form label {
    text-transform: uppercase;
    color: #888;
    display: inline-table;
    margin: 0 0 1em;
    width: 100%
}

form input[type=text],
form input[type=email],
form select,
form textarea,
input[type=password] {
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    display: inline-table;
    border: 0;
    background: #e8e8e8;
    width: 100%;
    box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    line-height: 1.25em;
    padding: .75em 1em
}

.box .excerpt .date,
table.default thead {
    text-transform: uppercase;
    box-shadow: .125em .175em 0 0 rgba(0, 0, 0, .125)
}

form input[type=text]:focus,
form input[type=email],
form select:focus,
form textarea:focus,
input[type=password]:focus {
    background: #f0f0f0
}

form textarea {
    min-height: 11em
}

form .formerize-placeholder {
    color: #555!important
}

form ::-webkit-input-placeholder {
    color: #555!important;
    line-height: 1.35em
}

form :-moz-placeholder {
    color: #555!important
}

form ::-moz-placeholder {
    color: #555!important
}

form :-ms-input-placeholder {
    color: #555!important
}

form ::-moz-focus-inner {
    border: 0
}

select::-ms-expand {
    display: block
}

#inputSmall {
    width: 30%
}

#inputBig {
    width: 60%
}

table,
table.default {
    width: 100%
}

table.default tbody tr {
    border-top: solid 1px #E5E5E5
}

table.default tbody tr:first-child {
    border-top: 0
}

table.default th {
    text-align: left;
    font-weight: 700
}

#banner-wrapper,
#banner-wrapper p,
#copyright,
#features-wrapper,
#features-wrapper p,
#footer-wrapper h2,
#header-wrapper,
#header-wrapper p,
#nav>ul>li>a:before {
    text-align: center
}

table.default thead {
    background: #878787;
    color: #fff;
    font-weight: 400;
    border: 0
}

table.default tfoot {
    background: #F0F0F0;
    border-top: solid 2px #E5E5E5
}

.button,
button,
input[type=button],
input[type=submit],
input[type=reset] {
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #2ECB3F;
    color: #fff!important;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0;
    outline: 0;
    font-size: 1em;
    box-shadow: .125em .175em 0 0 rgba(0, 0, 0, .125);
    font-weight: 600;
    text-align: center
}

.button.icon:before,
button.icon:before,
input[type=button].icon:before,
input[type=submit].icon:before,
input[type=reset].icon:before {
    position: relative;
    padding-right: .75em;
    opacity: .5;
    top: .05em
}

.button:active,
.button:hover,
button:active,
button:hover,
input[type=button]:active,
input[type=button]:hover,
input[type=submit]:active,
input[type=submit]:hover,
input[type=reset]:active,
input[type=reset]:hover {
    background: #2ECB3F
}

.button.alt,
.button.alt:active,
button.alt,
button.alt:active,
input[type=button].alt,
input[type=button].alt:active,
input[type=submit].alt,
input[type=submit].alt:active,
input[type=reset].alt,
input[type=reset].alt:active {
    background: #878787
}

#buttonr,
#buttons,
#botaoEnviarMensagem,
.button.alt:hover,
button.alt:hover,
button:hover,
input[type=button].alt:hover,
input[type=submit].alt:hover,
input[type=reset].alt:hover {
    cursor: pointer
}

.box .excerpt .date {
    background: #878787;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    border: 0
}

#header p,
#header-wrapper b,
#nav b,
#nav strong,
#nav>ul>li>a {
    color: #000
}

.icon {
    position: relative
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-transform: none!important
}

#banner,
#header p,
#nav>ul>li>a {
    text-transform: uppercase
}

.icon>.label {
    display: none
}

#header-wrapper {
    position: relative;
    background: url(../../images/livro.jpg);
    background-size: cover
}

#banner-wrapper {
    position: relative;
    overflow: hidden;
    background: #fff;
    color: #000;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    box-shadow: inset 0 -8px 0 0 #fff, inset 0 -10px 0 0 #fff, inset 0 8px 0 0 #fff, inset 0 10px 0 0 #fff
}

#banner-wrapper .inner {
    background: url(../../images/ifmt.jpg);
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
}

#footer-wrapper form input[type=text]:focus,
#footer-wrapper form input[type=email]:focus,
#footer-wrapper form select:focus,
#footer-wrapper form textarea:focus,
#footer-wrapper input[type=password]:focus,
#main-wrapper {
    background: #fff
}

#features-wrapper {
    position: relative;
    overflow: hidden;
    background: #000;
    color: #A0A0A3
}

#features-wrapper h3,
b,
strong {
    color: #CCCED1
}

#features-wrapper .actions {
    margin-top: 1.25em
}

#main-wrapper {
    position: relative;
    overflow: hidden
}

#footer-wrapper {
    position: relative;
    overflow: hidden;
    border-top: solid 2px #e5e5e5;
    background: #f0f0f0
}

#footer-wrapper form input[type=text],
#footer-wrapper form input[type=email],
#footer-wrapper form select,
#footer-wrapper form textarea,
#footer-wrapper input[type=password] {
    background: #f7f7f7
}

#header {
    position: relative;
    border-bottom: 2px;
    box-shadow: inset 0 0 0 0 #fff, inset 0 0 0 0 #e5e5e5
}

#header h1 {
    font-family: Arvo;
    font-weight: 700;
    color: #2ECB3F;
    text-shadow: .05em .075em 0 rgba(0, 0, 0, .1)
}

#banner p,
#header p,
#nav>ul>li>a {
    font-weight: 400
}

#header h1 a {
    border: 0
}

#nav {
    cursor: default
}

#nav>ul>li>a {
    border: 0;
    outline: 0
}

#nav>ul>li>a:before {
    display: inline-block;
    background: #000;
    color: #e4e4e4;
    width: 1.65em;
    height: 1.65em;
    border-radius: 1.65em;
    line-height: 1.65em;
    box-shadow: .125em .175em 0 0 rgba(0, 0, 0, .125);
    margin-right: .75em;
    -moz-transition: color .25s ease-in-out, background .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out, background .25s ease-in-out;
    -o-transition: color .25s ease-in-out, background .25s ease-in-out;
    -ms-transition: color .25s ease-in-out, background .25s ease-in-out;
    transition: color .25s ease-in-out, background .25s ease-in-out
}

#nav>ul>li>a>span {
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out
}

#nav>ul>li.active>a:before,
#nav>ul>li:hover>a:before {
    background: #ED786A;
    color: #fff
}

#nav>ul>li.active>a>span,
#nav>ul>li:hover>a>span {
    color: #ED786A
}

#banner {
    position: relative
}

#banner strong {
    color: inherit
}

#content>article,
#content>section,
#sidebar>article,
#sidebar>section {
    border-top: solid 2px #e5e5e5;
    box-shadow: inset 0 8px 0 0 #fff, inset 0 10px 0 0 #e5e5e5
}

#content>article:first-child,
#content>section:first-child,
#sidebar>article:first-child,
#sidebar>section:first-child {
    border-top: 0;
    box-shadow: none
}

#copyright {
    border-top: solid 2px #e5e5e5
}

@media screen and (min-width:737px) {
    body,
    input,
    select,
    textarea {
        line-height: 1.65em;
        font-size: 13pt
    }
    h2 {
        font-size: 1.65em;
        font-weight: 400;
        letter-spacing: 4px;
        margin: 0 0 1.5em;
        line-height: 1.75em
    }
    h3 {
        font-size: 1em;
        letter-spacing: 2px;
        margin: 0 0 1.25em
    }
    .box.excerpt .date,
    table.default thead {
        font-size: .85em;
        letter-spacing: 2px
    }
    .button,
    button,
    input[type=button],
    input[type=submit],
    input[type=reset] {
        font-size: .85em;
        letter-spacing: 2px;
        padding: .85em 2.75em
    }
    ul.actions li {
        display: inline-block;
        margin-left: 1em
    }
    ul.actions li:first-child {
        margin-left: 0
    }
    ul.divided li {
        margin: 2.5em 0 0;
        padding: 2.5em 0 0
    }
    .no-sidebar .box .post>header {
        text-align: center
    }
    .box.excerpt .date {
        display: inline-block;
        padding: .25em 1em;
        margin: 0 0 2.5em
    }
    #features-wrapper,
    #main-wrapper {
        padding: 6em 0
    }
    #banner-wrapper {
        padding: 3em 0
    }
    #footer-wrapper {
        padding: 6em 0 8em
    }
    #header {
        padding: 14em 0 7em
    }
    #header h1 {
        font-size: 4em;
        letter-spacing: 13px
    }
    #header p,
    #nav>ul>li>a>span {
        font-size: .85em;
        letter-spacing: 3px
    }
    #header p {
        margin: 2.5em 0 0
    }
    #nav {
        position: absolute;
        top: 3em;
        left: 0;
        width: 100%
    }
    #nav>ul>li {
        display: inline-block;
        padding-right: 2em
    }
    #nav>ul>li:last-child {
        padding-right: 0
    }
    #nav>ul>li>a {
        display: block
    }
    #nav>ul>li>ul {
        display: none
    }
    .dropotron {
        text-align: left;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        background: #fff;
        background: rgba(255, 255, 255, .965);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
        padding: .75em 0 .5em;
        min-width: 12em;
        margin-top: calc(-.5em + 1px);
        margin-left: -2px
    }
    .dropotron.level-0:after,
    .dropotron.level-0:before {
        left: 1.25em;
        border-left: solid .75em rgba(255, 255, 255, 0);
        border-right: solid .75em rgba(255, 255, 255, 0);
        content: '';
        display: block;
        position: absolute
    }
    .dropotron.level-0 {
        margin-top: 1.5em;
        margin-left: -1em
    }
    .dropotron.level-0:after {
        top: calc(-.75em + 1px);
        border-bottom: solid .75em #fff
    }
    .dropotron.level-0:before {
        top: -.75em;
        border-bottom: solid .75em #ccc
    }
    .dropotron a,
    .dropotron span {
        display: block;
        padding: .3em 1em;
        border: 0;
        border-top: solid 1px #f0f0f0;
        outline: 0
    }
    .dropotron li:first-child>a,
    .dropotron li:first-child>span {
        border-top: 0;
        padding-top: 0
    }
    .dropotron li:hover>a,
    .dropotron li:hover>span {
        -moz-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
        -webkit-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
        -ms-transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
        transition: color .25s ease-in-out, border-bottom-color .25s ease-in-out;
        color: #ed786a
    }
    #banner {
        padding: 10em 0
    }
    #banner p {
        font-size: 2em;
        line-height: 1.5em;
        letter-spacing: 4px
    }
    #banner:after,
    #banner:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        width: 35px;
        height: 141px;
        margin-top: -70px;
        opacity: .15
    }
    #banner:before {
        left: 0
    }
    #banner:after {
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        transform: scaleX(-1);
        right: 0
    }
    #content>>article,
    #content>>section,
    #sidebar>article,
    #sidebar>section {
        margin: 5em 0 0;
        padding: 5em 0 0
    }
    #content>>article:first-child,
    #content>>section:first-child,
    #sidebar>article:first-child,
    #sidebar>section:first-child {
        margin: 0;
        padding: 0;
    }
    #copyright {
        margin-top: 6em;
        padding-top: 4em
    }
    .professorMinimo {
        height: 425px;
    }
    .professorPequeno {
        height: 500px;
    }
    .professorMedio {
        height: 575px;
    }
    .professorGrande {
        height: 650px;
    }
    .professorEnorme {
        height: 725px;
    }
    .loginform {
        width: 50%;
    }
    #containerFormularioCadastro {
        width: 140%;
    }
}

@media screen and (min-width:737px) and (max-width:1200px) {
    body,
    input,
    select,
    textarea {
        line-height: 1.75em;
        font-size: 12pt
    }
    h2,
    h3 {
        margin: 0 0 1em
    }
    body {
        min-width: 960px
    }
    h2 {
        font-size: 1.5em
    }
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
        display: none
    }
    .image.featured {
        margin: 0 0 2.5em
    }
    #features-wrapper,
    #main-wrapper {
        padding: 4em 0
    }
    #banner-wrapper {
        padding: 2em 0
    }
    #footer-wrapper {
        padding: 4em 0 6em
    }
    #header {
        padding: 9em 0 4em
    }
    #header h1 {
        font-size: 5em
    }
    #header p {
        margin: 1.5em 0 0
    }
    #nav>ul>li {
        padding-right: 1.25em
    }
    #banner {
        padding: 7em 0
    }
    #copyright {
        margin-top: 5em;
        padding-top: 2em
    }
    #containerFormularioCadastro {
        width: 120%;
    }
}

#navPanel,
#titleBar {
    display: none
}

@media screen and (max-width:736px) {
    #page-wrapper,
    #titleBar {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-transition: -moz-transform .5s ease;
        -webkit-transition: -webkit-transform .5s ease;
        -ms-transition: -ms-transform .5s ease
    }
    #buttonr,
    #header p,
    #navPanel,
    .box.excerpt .date,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 2px
    }
    body,
    html {
        overflow-x: hidden
    }
    body,
    input,
    select,
    textarea {
        line-height: 1.75em;
        font-size: 11pt;
        letter-spacing: 0
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.2em;
        text-align: center;
        margin: 0 0 1.5em
    }
    h2 br,
    h3 br,
    h4 br,
    h5 br,
    h6 br {
        display: none
    }
    article,
    section {
        clear: both;
        margin: 2em 0!important
    }
    article:first-child,
    article>:first-child,
    section:first-child,
    section>:first-child {
        margin-top: 0!important
    }
    .image.left {
        width: 40%
    }
    .image.featured {
        margin: 0 0 2em
    }
    .button,
    button,
    input[type=button],
    input[type=submit],
    input[type=reset] {
        letter-spacing: 2px;
        display: block;
        padding: 1em 0
    }
    #colb,
    #inputBig,
    #inputMedium,
    #inputSmall {
        clear: initial;
        width: 100%
    }
    #cola {
        width: 30%
    }
    #buttonr {
        clear: initial;
        display: block;
        padding: 1em 0
    }
    ul.links li {
        display: block;
        border: 0;
        padding: .25em 0 0;
        margin: 0
    }
    ul.divided li {
        margin: 2.75em 0 0;
        padding: 2.75em 0 0
    }
    ul.icons {
        padding: 0!important;
        margin: 0 0 .5em!important
    }
    .box.excerpt .date {
        display: block;
        padding: .25em 1em;
        margin: 0 auto 2.5em;
        text-align: center
    }
    #page-wrapper {
        backface-visibility: hidden;
        transition: transform .5s ease;
        padding-bottom: 1px
    }
    #titleBar {
        backface-visibility: hidden;
        transition: transform .5s ease;
        display: block;
        height: 44px;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10001
    }
    #titleBar .toggle {
        position: absolute;
        left: 0;
        top: 0;
        width: 80px;
        height: 60px;
        border: 0
    }
    #titleBar .toggle:before {
        font-family: FontAwesome;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f0c9';
        display: block;
        width: 60px;
        height: 40px;
        background: rgba(232, 232, 232, .9);
        border-radius: 4px;
        position: absolute;
        left: 5px;
        top: 5px;
        box-shadow: .125em .125em 0 0 rgba(0, 0, 0, .15);
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        color: #aaa
    }
    #titleBar .toggle:active:before {
        opacity: .5
    }
    #navPanel {
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-transform: translateX(-275px);
        -webkit-transform: translateX(-275px);
        -ms-transform: translateX(-275px);
        transform: translateX(-275px);
        -moz-transition: -moz-transform .5s ease;
        -webkit-transition: -webkit-transform .5s ease;
        -ms-transition: -ms-transform .5s ease;
        transition: transform .5s ease;
        display: block;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        width: 275px;
        z-index: 10002;
        background: #444;
        border-right: solid 2px #3c3c3c;
        font-weight: 400;
        text-transform: uppercase;
        color: #888;
        font-size: 1em
    }
    #navPanel .link {
        display: block;
        color: #ddd;
        text-decoration: none;
        height: 44px;
        line-height: 44px;
        border: 0;
        border-top: solid 1px #3c3c3c;
        padding: 0 1em
    }
    #navPanel .link:first-child {
        border-top: 0
    }
    #navPanel .link.depth-0 {
        font-weight: 600;
        color: #fff
    }
    #navPanel .indent-1 {
        display: inline-block;
        width: 1em
    }
    #navPanel .indent-2 {
        display: inline-block;
        width: 2em
    }
    #navPanel .indent-3 {
        display: inline-block;
        width: 3em
    }
    #navPanel .indent-4 {
        display: inline-block;
        width: 4em
    }
    #navPanel .indent-5 {
        display: inline-block;
        width: 5em
    }
    #navPanel .depth-0 {
        color: #fff
    }
    body.navPanel-visible #page-wrapper,
    body.navPanel-visible #titleBar {
        -moz-transform: translateX(275px);
        -webkit-transform: translateX(275px);
        -ms-transform: translateX(275px);
        transform: translateX(275px)
    }
    body.navPanel-visible #navPanel {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
    #header-wrapper {
        padding: 0 20px
    }
    #features-wrapper,
    #main-wrapper {
        padding: 3em 20px
    }
    #banner-wrapper {
        padding: 2em 0
    }
    #banner-wrapper .inner {
        background-size: 80%;
    }
    #footer-wrapper {
        padding: 4em 20px 3em
    }
    #header {
        padding: 6em 0 4em
    }
    #header h1 {
        font-size: 5em;
        letter-spacing: 8px;
        line-height: 1.25em
    }
    #header p {
        margin: 1.25em 0 0
    }
    #banner p br,
    #nav {
        display: none
    }
    #banner {
        padding: 5em 20px;
        margin: 0!important
    }
    #banner p {
        font-size: 1.75em;
        line-height: 1.25em;
        letter-spacing: 3px
    }
    #content>article,
    #content>section,
    #sidebar>article,
    #sidebar>section {
        margin: 4em 0 0!important;
        padding: 4em 0 0!important
    }
    #content>article:first-child,
    #content>section:first-child,
    #sidebar>article:first-child,
    #sidebar>section:first-child {
        margin: 0!important;
        padding: 0!important
    }
    #sidebar {
        border-top: solid 2px #e5e5e5;
        box-shadow: inset 0 8px 0 0 #fff, inset 0 10px 0 0 #e5e5e5;
        margin-top: 4em!important;
        padding-top: 4em!important
    }
    #footer .icons {
        margin: 0 0 2em!important
    }
    #footer .icons:last-child {
        margin-bottom: 0
    }
    #copyright {
        margin-top: 2em;
        padding-top: 2em
    }
}